@using StudentManagementSystem.Business.DTOs
@model IEnumerable<StudentDto>
<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">All Students</h2>
        <a asp-controller="Admin" asp-action="Courses" class="btn btn-secondary">View Courses</a>
    </div>
    
   @await Html.PartialAsync("_Students",Model);
    
</div>
